<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DESKTOP-4GGUT0R" value="C:\JICTest\"/>
    <add key="CMP-16WJWPHD" value="C:\Icas.Test\"/>
    <add key="microRNA" value="miRNA_no_akr.fasta"/>
    <add key="cleavage_efficiency_base" value="sorted_mSHAPE_sum.txt"/>
    <add key="cdna" value="cdna.txt"/>
    <add key="degradome_xrn4" value="degradome_xrn4.txt"/>
    <add key="degradome_wt" value="degradome_wt.txt"/>
    <add key="all_cleavage_site" value="targetfinder_result.txt"/>
    <add key="reactivity" value="normalized_SHAPE_vivo_reactivity_alpha_0.45.txt"/>
    <add key="k_min" value="2"/>
    <add key="k_max" value="19"/>
  </appSettings>
</configuration>